{extends file = "default.html"}
{block name=content}

<style>
	.error{
		background-color: #f56a6a;
		padding-left: 3%;
		padding-right: 3%;
        margin-bottom: 1%;
		color: white;
        width: 38%;
		display: block;
		border-radius: 15px;
		font-size: 1.1em;
		font-family: "Roboto Slab", serif;
	}
</style>
							<!-- Content -->
								<section>
									<header class="main">
										<h1>Leaf Relief</h1>
									</header>

									<!-- Content -->
										

									<hr class="major" />
                                    <!-- Form -->
                                    {if !$msgs->isEmpty()}
                                        {foreach $msgs->getMessages() as $msg}
                                        <ul class="error">	
                                            <li>{$msg->text}</li>
                                        </ul>
                                        {/foreach}
                                        <br>
                                    {/if}
                                                
													<form method="post" action="{url action = "registrate"}">
														<div class="row gtr-uniform">
															<div class="col-6 col-12-xsmall">
																<input type="text" name="login" id="login" value="" placeholder="Login*" required/>
															</div>
															<div class="col-6 col-12-xsmall">
																<input type="password" name="password" id="password" value="" placeholder="Password*" required/>
															</div>
                                                        </div>
                                                        <br>
                                                        <h3>Adres</h3>
                                                        <div class="row gtr-uniform">    
                                                            <div class="col-6 col-12-xsmall">
                                                                <input type="text" name="city" id="city" value="" placeholder="Miasto*" required/>
                                                            </div>
                                                            <div class="col-6 col-12-xsmall">
                                                                <input type="text" name="postcode" id="postcode" value="" placeholder="Kod pocztowy*" required/>
                                                            </div>
                                                            <div class="col-6 col-12-xsmall">
                                                                <input type="text" name="street" id="street" value="" placeholder="Ulica*" required/>
                                                            </div>
                                                            <div class="col-6 col-12-xsmall">
                                                                <input type="text" name="street_number" id="street_number" value="" placeholder="Numer ulicy*" required/>
                                                            </div>
														    </div>
                                                            <br>
                                                            <div class="col-6 col-12-xsmall">
                                                                <input type="text" name="apartment_number" id="apartment_number" value="" placeholder="Numer lokalu" />
                                                            </div>

                                                            <br>
                                                            <div>
                                                                <span>* — pole jest wymagane</span>
                                                            </div>

                                                        <div class="row gtr-uniform" style="display: grid; width: 100%;"> 
                                                            <div>
                                                                <br>
                                                                <div style="display: inline-block; width: 100%; padding-left: 0%;">
                                                                    <input style="display: flex; width: 100%; padding-left: 44%;" type="submit" value="Zarejestruj się" class="primary">
                                                                </div>
                                                                <br>
                                                                <br>
                                                                <a href="{url action = "login_display"}" class="button fit">Zaloguj się</a>
                                                            </div>  
                                                            
                                                        </div>    
                                                    </form>   
								</section>

						</div>
					</div>
{/block}			