{extends file = "default.html"}
{block name=content}
    <style>
        .hide{
            display: none;
        }

        .custom {
            border-radius: 30px;
            color: #f56a6a;
            align-items: center; 
            justify-content: center;
            /* text-align: center; */
            width: 75%;
            height: 39px;
            border: 3px solid #f56a6a;
            display: flex;
            cursor: pointer;
            
        }
        .background{
                background-color: #f56a6a;
        }
    </style>
    
                                <br>
                                <h2>Koszyk</h2>
                                <br>

                                <div class="table-wrapper">
                                    <table>
                                        {if $empty != null}
                                        <hr>
                                        <h2 style="display: flex; align-items: center; justify-content: center;">{$empty}</h2>
                                        <hr class="major">
                                        <a style="display: flex; height: 60px; align-items: center; justify-content: center;" href="{url action="products_list_display"}" class="button primary">Katalog produktów</a>
                                        {else}
                                        <thead>
                                            <tr >
                                                <th style="display: inline-flex; width: 12.5%;">Zdjęcie</th>
                                                <th style="display: inline-flex; width: 11%;">Nazwa</th>
                                                <th style="display: inline-flex; width: 34.5%;">Opis</th>
                                                <th style="display: inline-flex; width: 12%;">Ilość</th>
                                                <th style="display: inline-flex;">Cena</th>
                                                <th></th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {foreach $products as $row}
                                                <tr  style="display: flex;">
                                                    <td style="display: inline-flex;  width: 128px;"><img style="border-radius: 5px;" width="100" height="100" src="{$row.image}" alt=""></td>
                                                    <td style="display: inline-flex; width: 115px;">{$row.name}</td>
                                                    <td style="display: inline-flex; width: 358px;">{$row.description}</td>
                                                    <td style="display: inline-flex; width: 122px;">{$row.amount}</td>
                                                    <td style="display: inline-flex; width: 100px;">{$row.price} zł</td>
                                                    <td style="display: inline-flex; width: 180px; align-items: center; justify-content: center;">
                                                        <form method="post" style="display: flex; align-items: center; justify-content: center;" action="{url action="minus_product"}">
                                                        <label for="minus{$row.id_product}" class="custom">
                                                            <img width="80%" src="{$conf}/../app/views/images/minus.png" alt="#">
                                                        </label>
                                                        <button style="display: none;" class="primary" type="submit" id="minus{$row.id_product}" name="name" value="{$row.name}"></button>
                                                        </form>

                                                        <form method="post" style="display: flex; align-items: center; justify-content: center;" action="{url action="plus_product"}">
                                                        <label for="plus{$row.id_product}" class="custom">
                                                            <img width="100%" src="{$conf}/../app/views/images/plus.png" alt="#">
                                                        </label>
                                                        <button style="display: none;" class="primary" type="submit" id="plus{$row.id_product}" name="name" value="{$row.name}"></button>
                                                        </form>

                                                        <form method="post" style="display: flex; align-items: center; justify-content: center;" action="{url action="delete_product_cart"}">
                                                        <label for="delete{$row.id_product}" class="custom background">
                                                            <img width="80%" src="{$conf}/../app/views/images/trash-bucket.png" alt="#">
                                                        </label>
                                                        <button style="display: none;" class="primary" type="submit" id="delete{$row.id_product}" name="name" value="{$row.name}"></button>
                                                        </form>
                                                    </td>                                              
                                                </tr>
                                                {/foreach}
                                               
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="3" style="display: inline-block; width: 720px;"></td>
                                                <td style="display: inline-block; width: 97px">{$sum} zł</td>
                                                <td style="display: inline-block; text-align: right;">
                                                    <form method="post" action="{url action="submit_order"}">
                                                        <input type="submit" name="buy" id="buy" value="Złożyć zamówienie" class="primary">
                                                    </form>
                                                </td>
                                            </tr>
                                        </tfoot>
                                        {/if}
                                    </table>
                                </div>	
						</div>
					</div>
{/block}