{extends file = "default.html"}
{block name=content}
   
    
                                <br>
                                <h2>Koszyk</h2>
                                <br>
                                
                                <hr>
                                <h2 style="display: flex; align-items: center; justify-content: center;">Zamówienie zostało złożone</h2>
                                <hr class="major">
                                <a style="display: flex; height: 60px; align-items: center; justify-content: center;" href="{url action="products_list_display"}" class="button primary">Katalog produktów</a>
                                	
						</div>
					</div>
{/block}